$ppop-y: 50px;

.raptor {
    margin-left: 600px;
    scale:100%;
}

.photob {
    margin-left: 600px;
    margin-top: -50px;
   // border:1px solid red;
 //padding:1px;


width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
color: white;
text-decoration:none;
background-color:red;
position: absolute;

}

.titre {
    margin-left: 600px;
    background-color: white;
}


.red {
    color: red;
    margin-left: 600px;
    background-color: white;
}

.rond {
    margin-left: 800px;
    margin-top: -280px;
   // border:1px solid red;
 //padding:1px;


width:50px;
height: 50px;
line-height:50px;
text-align:center;

color: white;
text-decoration:none;
background-color:red;
position: absolute; 
border-radius: 50% ;
font-size: 8px;

}

.blanc {
    background-color: white;
    color: gray;
    margin-left: 600px;
    opacity: 0;
    
    
}

.coms {
    background-color: white;
    color: gray;
    margin-left: 600px;
}

//.tout:hover{
       
   //    transform:translateY(-130px);
  // }


.tout {
    &:hover .raptor {
        opacity: 0.5 ;
        filter: brightness(150%);
        scale: 150%;
        


    
    }


    &:hover .lestitres {
        animation-name: enhaut ;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }

    &:hover .blanc {
        animation-name: apparition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    }
    
    &:hover .photob {
        animation-name: enhaut ;
        animation-duration: 1s;
        animation-fill-mode: forwards; 
    }
}




//&:hover .lestitres {
   // animation-name: enhaut ;
  //  animation-duration: 1s;
   // animation-fill-mode: forwards;
//}

//&:hover .blanc{
   // animation-name: apparition;
   // animation-duration: 1s;
  //  animation-fill-mode: forwards;
   // background-color: blue;
//}




@keyframes enhaut {
    
        from {
            
            transform: translateY($ppop-y);
        }
        to {
            
            transform: translateY(-$ppop-y);
        }
    
}



@keyframes apparition {
    
        from {
            opacity: 0;
            transform: translateY(#{$ppop-y});
        }
        to {
            opacity: 1;
            transform: translateY(-#{$ppop-y});
        }
    
}


//.photob:hover {
    
   // transform:translateY(-130px)